.App__header {
  padding: 15px 0;

  .container {
    > div, > navbar {
      @media screen and (min-width: 768px){
        width: 33%;
      }
    }
  }

  .App__logo {
    order: 1;
    text-align: left;

    .logo {
      width: calculateRem(118px);
    }

    @media screen and (min-width: 768px){
     text-align: center;
     order: 2;
    }
  }

  navbar {
    order: 2;
    a {
      color: #5a6c74;
      margin-right: calculateRem(50px);
      @include fontSize(18px);

      &.active, &:hover {
        color: #48cc83;
      }
    }

    .navbar__action {
      display: none;
    }

    @media screen and (min-width: 768px) {
      order: 1;
    }

    @media screen and (max-width: 768px) {
      .navbar__links {
        display: none;
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.5);
        padding: 20px 10px;

        a {
          margin: 10px;
          text-align: center;
          font-size: 27px;
          display: block;
          color: white;
        }

        &--active {
          display: block;
        }
      }
      .navbar__action-close {
        position: absolute;
        top: 10px;
        right: 10px;
        color: white;
        font-size: 30px;
      }
      .navbar__action {
        display: block;
        cursor: pointer;
      }
    }
  }
  .blue-effect {
    position: relative;
    padding-left: 50px;
    overflow: hidden;

    .icon {
      position: absolute;
      left: 0;
      top: 0;
      width: 30px;
      height: 100%;
      background: #3598db;
      transition: width 0.5s;

      &::after {
        position: absolute;
        top: 0;
        left: 100%;
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 40px 10px 0 0;
        border-color: #3598db transparent transparent transparent;
      }

      img {
        position: absolute;
        top: calc(50% - 7.5px);
        left: 10px;
      }
    }

    .text {
      position: relative;
      z-index: 1;
    }

    &:hover {
      .icon {
        width: 100%;
      }
    }
  }
}
