.App__footer {
  position: relative;
  background: #48cc83;
  padding-top: calculateRem(80px);
  padding-bottom: calculateRem(130px);

  .container {
    z-index: 1;
  }

  &::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 60px 1920px;
    border-color: transparent transparent #48cc83 transparent;
    position: absolute;
    bottom: 100%;
    right: 0;

    @media screen and (min-width: 768px) {
      border-width: 0 0 100px 1920px;
    }
    @media screen and (min-width: 1170px) {
      border-width: 0 0 120px 1920px;      
    }
    @media screen and (min-width: 1920px) {
      border-width: 0 0 160px 5000px;      
    }
  }

  h2 {
    color: #fff;
    font-weight: bold;
    @include fontSize(40px);
  }

  p {
    color: #fff;
    @include fontSize(21px);
  }

  .services {
    img {
      width: calculateRem(80px);
    }
    p {
      color: #fff;
      @include fontSize(24px);
    }
  }
}