.HomePage {
  .LargestProxy {
    margin-top: calculateRem(50px);

    h2 {
      color: #3598db;
      @include fontSize(60px);
      line-height: 1;
      margin-top: calculateRem(50px);
    }
    h3 {
      color: #5a6c74;
      @include fontSize(32px);
      line-height: 1;
      margin-top: calculateRem(20px);
    }
    p {
      color: #5a6c74;
      margin-top: calculateRem(30px);
    }
  }

  .Designed {
    margin-top: calculateRem(120px);
    background: #fafafa;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 130px 1920px;
      border-color: transparent transparent #fafafa transparent;
      position: absolute;
      bottom: 100%;
      right: 0;

      @media screen and (min-width: 992px) {
        border-width: 0 0 200px 1920px;      
      }
    }

    h2 {
      color: #5a6c74;
      text-align: center;
      @include fontSize(34px);
      font-weight: bold;
      margin-bottom: calculateRem(50px);
    }

    h3 {
      color: #5a6c74;
      text-align: center;
      @include fontSize(21px);
      margin-bottom: calculateRem(30px);
    }
  }

  .UseCases {
    margin-top: calculateRem(100px);

    h2 {
      color: #5a6c74;
      text-align: center;
      @include fontSize(34px);
      font-weight: bold;
    }

    &__cases {
      img {
        max-width: 130px;
        margin-top: calculateRem(70px);
      }
      h3 {
        color: #5a6c74;
        @include fontSize(21px);
      }
    }
  }
}