.HomePage {
  .LargestProxy {
    margin-top: calculateRem(50px);

    h2 {
      color: #3598db;
      font-weight: bold;
      line-height: 1.2;
      @include fontSize(60px);
      line-height: 1;
      margin-top: calculateRem(50px);
    }
    h3 {
      color: #5a6c74;
      @include fontSize(32px);
      line-height: 1.1;
      margin-top: calculateRem(20px);
    }
    p {
      color: #5a6c74;
      margin-top: calculateRem(30px);
    }
  }

  .Designed {
    margin-top: calculateRem(40px);
    background: #fafafa;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 60px 1920px;
      border-color: transparent transparent #fafafa transparent;
      position: absolute;
      bottom: 100%;
      right: 0;

      @media screen and (min-width: 768px) {
        border-width: 0 0 100px 1920px;
      }

      @media screen and (min-width: 1170px) {
        border-width: 0 0 120px 1920px;      
      }
      @media screen and (min-width: 1920px) {
        border-width: 0 0 160px 5000px;      
      }
    }

    h2 {
      color: #5a6c74;
      text-align: center;
      @include fontSize(34px);
      font-weight: bold;
      margin-bottom: calculateRem(40px);
    }

    h3 {
      color: #5a6c74;
      text-align: center;
      @include fontSize(21px);
      margin-bottom: calculateRem(70px);
    }
  }

  .UseCases {
    margin-top: calculateRem(120px);

    .slick-slider {
      margin-top: 50px;
      .slick-arrow {
        &::before {
          color: black;
        }
      }
      .text-center {
        max-width: 200px;

        h3 {
          font-size: 14px;
          margin-top: 15px;
        }
      }
    }

    h2 {
      color: #5a6c74;
      text-align: center;
      @include fontSize(34px);
      font-weight: bold;
    }

    &__cases {
      .image {
        min-height: 130px;
        margin-top: calculateRem(50px);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      img {
        max-width: 130px;
      }
      h3 {
        color: #5a6c74;
        margin-top: 10px;
        @include fontSize(21px);
      }
    }
  }
}